.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__open-mob-menu-btn {
    margin-left: auto;
    border: none;
    background-color: #FFFFFF;
}

// .header__icon-open-mob-menu {
//     @media screen and (max-width: 767px) {
//         display: none;
        
//     }
// }
