.hero {
    background-color: var(--background-heroe-color); 
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.hero__container {
    text-align: center;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    display: block;
    text-align: center;
    max-width: 696px; 
    margin: 0 auto;
    margin-bottom: 30px; 
}
.hero__btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    background-color: #2196F3;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    min-width: 200px;
    padding: 10px 32px 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    &:hover,
    &:focus {
    background-color: var(--hover-color);
    }
}


