.card-set {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.portfolio-card {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:nth-last-child(-n + 3) { 
        margin-bottom: 0;   
    }
    &:nth-child(3n) {
        margin-right: 0;
    }
}

.portfolio-card__link {
    width: 100%;
    height: 100%;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        box-shadow: 
                0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06), 
                1px 4px 6px rgba(0, 0, 0, 0.16);
                background: none;
    } 
}

.portfolio-card__link:active,
.portfolio-card__link:focus {
    outline: none;
}
.portfolio-card__img-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-card__overflow {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: #2196F3E5;
    padding: 63px 24px 63px 24px; 
    color: #FFFFFF; 
    position: absolute;
    top: 0;
    left: 0; 
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .portfolio-card__link:hover &,
    .portfolio-card__link:focus & {
        transform: translateY(0);
    }
}

.portfolio-card__text-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}
.portfolio-card__title { 
    font-weight: bold;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
    color:var(--title-collor);
    margin-bottom: 4px;
}

.portfolio-card-subtitle {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:var(--main-text-color)  
}



